- name: "Delete group {{ dest_group.metadata.name }}"
  command: >
    oc delete group {{ dest_group.metadata.name }}
  when: >
    src_group is not defined or
    src_group == ''

- name: "Remove users from {{ dest_group.metadata.name }}"
  command: >
    oc adm groups remove-users {{ dest_group.metadata.name }} {{ rem_users | join( ' ' ) }}
  vars:
    rem_users: "{{ dest_group.users if dest_group.users else [] | difference( src_group.users if src_group.users else [] ) }}"
  when: >
    src_group is defined and
    src_group != '' and
    rem_users|length > 0
